### TEST pandas

In [ ]:
%pip install pandas scikit-learn

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("satisfaction.csv")

### 1 - Créer une copie de DF nommé new_df:

In [5]:
new_df = df.copy(deep=True)

### 2- Afficher les trois premiers lignes et les trois derniers lignes new_df sous format pandas:

In [6]:
new_df.iloc[:3]

,Id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction_v2
0,13239,Male,Loyal Customer,24,Personal Travel,Eco,2069.0,Peu satisfait,Satisfait,Peu satisfait,...,Satisfait,Satisfait,"Ni satisfait, ni insatisfait",Satisfait,Satisfait,Satisfait,Satisfait,0.0,0.0,dissatisfied
1,30609,Male,Loyal Customer,35,Personal Travel,Business,399.0,"Ni satisfait, ni insatisfait",Tres satisfait,"Ni satisfait, ni insatisfait",...,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",Tres satisfait,"Ni satisfait, ni insatisfait",Tres satisfait,37.0,36.0,dissatisfied
2,115706,Male,Loyal Customer,39,Business travel,Business,3726.0,Tres satisfait,Tres satisfait,Tres satisfait,...,Tres satisfait,Tres satisfait,Tres satisfait,Tres satisfait,"Ni satisfait, ni insatisfait",Tres satisfait,Tres satisfait,0.0,0.0,satisfied

In [12]:
new_df.tail(3)

,Id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction_v2
1997,17846,Female,Loyal Customer,16,Personal Travel,Eco,2445.0,Satisfait,Peu satisfait,Peu satisfait,...,Satisfait,Satisfait,Satisfait,Satisfait,"Ni satisfait, ni insatisfait",Satisfait,"Ni satisfait, ni insatisfait",36.0,35.0,satisfied
1998,76975,Female,Loyal Customer,36,Business travel,Eco,2460.0,Peu satisfait,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",...,Peu satisfait,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",Satisfait,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",Peu satisfait,0.0,0.0,dissatisfied
1999,20287,Male,Loyal Customer,48,Personal Travel,Eco,1809.0,"Ni satisfait, ni insatisfait",Pas du tout satisfait,"Ni satisfait, ni insatisfait",...,"Ni satisfait, ni insatisfait",Tres satisfait,Tres satisfait,Tres satisfait,"Ni satisfait, ni insatisfait",Tres satisfait,"Ni satisfait, ni insatisfait",0.0,0.0,dissatisfied

### 3- Afficher les dimentions du new_df:

In [10]:
new_df.shape

(2000, 24)

### 4- Supprimer les lignes dupliquées pour new_df:

In [13]:
new_df.drop_duplicates(inplace=True)

### 5- Afficher 'Gender','Age' du new_df sous format pandas:

In [14]:
new_df[['Gender', 'Age']]

      Gender  Age
0       Male   24
1       Male   35
2       Male   39
3     Female   56
4     Female   38
...      ...  ...
1995    Male   42
1996  Female   58
1997  Female   16
1998  Female   36
1999    Male   48

[2000 rows x 2 columns]

### 6- Supprimer la colonne 'Cleanliness' de new_df:

In [15]:
new_df.drop(columns='Cleanliness', inplace=True)

### 7- Concatener les deux colonnes 'Gender','Age' de new_df dans une nouvelle colonne nommée 'new_col' de new_df:

In [16]:
new_df['new_col'] = new_df['Gender'].astype(str) + new_df['Age'].astype(str)

### 8- Compter le nombre des valeurs manquantes dans la colonne 'Age' de new_df:

In [17]:
new_df['Age'].isna().sum()

0

### 9- Calculer l'age moyen de new_df:

In [18]:
new_df['Age'].sum()/2000

39.4515

### 10- Afficher les lignes dont l'age est supérieur à la moyenne des ages de new_df:

In [19]:
new_df.loc[new_df['Age'] > 39.4515]

,Id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction_v2,new_col
3,64532,Female,Loyal Customer,56,Business travel,Business,2048.0,Pas du tout satisfait,Pas du tout satisfait,Pas du tout satisfait,...,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",Tres satisfait,0.0,0.0,satisfied,Female56
5,113688,Female,Loyal Customer,58,Business travel,Business,62.0,Peu satisfait,Peu satisfait,Peu satisfait,...,Tres satisfait,Tres satisfait,Tres satisfait,Satisfait,"Ni satisfait, ni insatisfait",Satisfait,0.0,0.0,satisfied,Female58
11,94704,Female,Loyal Customer,58,Business travel,Business,706.0,Tres satisfait,Tres satisfait,Tres satisfait,...,Satisfait,Satisfait,Satisfait,Satisfait,Tres satisfait,"Ni satisfait, ni insatisfait",0.0,0.0,satisfied,Female58
15,117896,Female,Loyal Customer,48,Business travel,Business,2219.0,Tres satisfait,Tres satisfait,Tres satisfait,...,Tres satisfait,Tres satisfait,Tres satisfait,Tres satisfait,Tres satisfait,Satisfait,0.0,0.0,satisfied,Female48
18,27107,Male,Loyal Customer,52,Personal Travel,Eco,2559.0,"Ni satisfait, ni insatisfait",Satisfait,"Ni satisfait, ni insatisfait",...,"Ni satisfait, ni insatisfait",Tres satisfait,Satisfait,Tres satisfait,Satisfait,"Ni satisfait, ni insatisfait",20.0,12.0,dissatisfied,Male52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,12120,Female,Loyal Customer,47,Personal Travel,Eco,998.0,Tres satisfait,Tres satisfait,"Ni satisfait, ni insatisfait",...,Satisfait,Satisfait,Satisfait,Satisfait,"Ni satisfait, ni insatisfait",Tres satisfait,0.0,0.0,satisfied,Female47
1994,116052,Male,Loyal Customer,59,Business travel,Business,3565.0,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",...,Tres satisfait,Tres satisfait,Tres satisfait,Tres satisfait,Satisfait,Tres satisfait,0.0,0.0,satisfied,Male59
1995,3034,Male,Loyal Customer,42,Personal Travel,Eco,1635.0,Pas du tout satisfait,"Ni satisfait, ni insatisfait",Pas du tout satisfait,...,Peu satisfait,Pas du tout satisfait,Pas du tout satisfait,"Ni satisfait, ni insatisfait",Peu satisfait,Peu satisfait,46.0,67.0,dissatisfied,Male42
1996,93184,Female,Loyal Customer,58,Business travel,Business,1749.0,Peu satisfait,Peu satisfait,Peu satisfait,...,Satisfait,Satisfait,Satisfait,Satisfait,"Ni satisfait, ni insatisfait",Tres satisfait,5.0,0.0,satisfied,Female58
1999,20287,Male,Loyal Customer,48,Personal Travel,Eco,1809.0,"Ni satisfait, ni insatisfait",Pas du tout satisfait,"Ni satisfait, ni insatisfait",...,"Ni satisfait, ni insatisfait",Tres satisfait,Tres satisfait,Tres satisfait,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",0.0,0.0,dissatisfied,Male48

### 11- Remplacer la valeur de la ligne 5 et la colonne 'Gender' par 'Male'

In [20]:
new_df.at[5, 'Gender'] = 'Male'

### 12 - Afficher les colonnes qui n'ont que des valeurs catégoriques

In [21]:
new_df._get_numeric_data().columns

Index(['Id', 'Age', 'Flight Distance', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')

### 13- Créer une fonction qui prend en paramètres une chaîne de caractères et qui transforme la dernière voyelle  en MAJUSCULE

In [22]:
def convert_voy_maj(string):
    my_list = list(string[::-1])
    for i in range(len(my_list)):
        if my_list[i].upper() in ['A','E','I','O','U','Y']:
            my_list[i] = my_list[i].upper()
            break;
    return ''.join(my_list)[::-1]

### 14 - appliquer le fonction précedente pour transformer le dernièr caractère de la colonne 'Class' en majuscule

In [23]:
new_df['Class'].apply(lambda x: convert_voy_maj(x))

0            EcO
1       BusinEss
2       BusinEss
3       BusinEss
4            EcO
          ...
1995         EcO
1996    BusinEss
1997         EcO
1998         EcO
1999         EcO
Name: Class, Length: 2000, dtype: object

____________________________________________________

In [24]:
df1=pd.read_csv("df_1.csv")
df2=pd.read_csv("df_2.csv")

### 15 -  Rejoindre  les deux DataFrames df1 et df2 sur  'Id' (inner join)

In [25]:
pd.merge(df1, df2, on='Id', how='inner')

,Id,satisfaction_v2,Gate location,Cleanliness,Gender,Customer Type,Age,Class
0,13239,dissatisfied,Peu satisfait,Satisfait,Male,Loyal Customer,24,Eco
1,30609,dissatisfied,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",Male,Loyal Customer,35,Business
2,115706,satisfied,Tres satisfait,Tres satisfait,Male,Loyal Customer,39,Business
3,64532,satisfied,Satisfait,"Ni satisfait, ni insatisfait",Female,Loyal Customer,56,Business
4,127023,satisfied,Satisfait,Peu satisfait,Female,Loyal Customer,38,Eco
...,...,...,...,...,...,...,...,...
1995,3034,dissatisfied,Satisfait,Satisfait,Male,Loyal Customer,42,Eco
1996,93184,satisfied,Peu satisfait,Satisfait,Female,Loyal Customer,58,Business
1997,17846,satisfied,Peu satisfait,Satisfait,Female,Loyal Customer,16,Eco
1998,76975,dissatisfied,"Ni satisfait, ni insatisfait","Ni satisfait, ni insatisfait",Female,Loyal Customer,36,Eco
1999,20287,dissatisfied,Tres satisfait,Tres satisfait,Male,Loyal Customer,48,Eco

____________________________________________________

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [29]:
data=pd.read_csv("satisfaction.csv")
data_encoded=pd.read_csv("satisfaction_encoded.csv")
predict =pd.read_csv("satisfaction.csv")

### 16 -  Encoder le DataFrame data

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
data.apply(LabelEncoder().fit_transform)

,Id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction_v2
0,182,1,0,17,1,1,832,2,3,2,...,3,3,0,3,3,3,3,0,0,0
1,452,1,0,28,1,0,101,0,4,0,...,0,0,0,0,4,0,4,37,36,0
2,1778,1,0,32,0,0,1418,4,4,4,...,4,4,4,4,0,4,4,0,0,1
3,982,0,0,49,0,0,817,1,1,1,...,0,0,0,0,0,0,4,0,0,1
4,1962,0,0,31,0,1,381,4,3,3,...,4,4,0,0,1,2,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,35,1,0,35,1,1,556,1,0,1,...,2,1,1,0,2,3,2,46,66,0
1996,1426,0,0,51,0,0,637,2,2,2,...,3,3,3,3,0,3,4,5,0,1
1997,253,0,0,9,1,1,1035,3,2,2,...,3,3,3,3,0,3,0,36,35,1
1998,1161,0,0,29,0,1,1041,2,0,0,...,2,0,0,3,0,0,2,0,0,0
1999,285,1,0,41,1,1,679,0,1,0,...,0,4,4,4,0,4,0,0,0,0

_____________________________________________________________________________

In [32]:
X=data_encoded.iloc[:,:-1].values
y=data_encoded.iloc[:,-1].values

### 17 - Spliter les données d'apprentissage et de test avec 20%

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

### 18 - Entrainer le modèle

In [34]:
train_test_split(y, shuffle=False)

[array([0, 1, 1, ..., 1, 0, 1], dtype=int64),
 array([0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
        0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
        1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
        0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
        1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
        0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
        0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
        0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
        0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
        0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
        1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0], dtype=int64)]

### 19 - Prédire les données de la partie du test et Afficher la précision du modèle ( Accuracy )

In [36]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(X_test, y_test)

### 20 - sauvegarder  le model

In [38]:
import pickle

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

filename = 'model.sav'
pickle.dump(model, open(filename, 'wb'))